$lightgrey: #EDEDED;
$grey: #E0E0E0;
$tablegrey: #F8F8F8;
$primary: #626ED4;
$secondary: #02A499;
$terciary: #38A4F8;
$warning: #f8b425;
$danger: #EC4561;
$black: #2B2B2B;




@mixin respond ($breakpoint){

    //GENERAL BREAKPOINTS
    @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em){     // 600px
        @content;
      }
    }
    @if $breakpoint == tab-port {       // 900px
      @media only screen and (max-width: 56.25em){
        @content;
      }
    }
    @if $breakpoint == tab-land {       // 1248px
      @media only screen and (max-width: 78em){
        @content;
      }
    }
    @if $breakpoint == tab-land-inverse {
        @media only screen and (min-width: 78em){
            @content;
          }
    }
    @if $breakpoint == big-desktop {    // 1800px
      @media only screen and (min-width: 112.5em){
        @content;
      }
    }
  }

